.react-input-emoji--container{
  background-color: #fff !important;
}


.react-input-emoji--placeholder{
  
}

.react-input-emoji--input{
  color:black !important;

}


.ReactModal__Content--after-open{
  background-color: #fff !important;


}


.emoji-mart-dark {
    color: #fff;
    border-color: #555453;
    background-color: #fff !important;
}



.emoji-mart-dark .emoji-mart-category-label span {
    background-color: white !important;
    color: #fff;
}


.emoji-mart-dark .emoji-mart-category-label span {
    background-color: #222;
    color: #000 !important
}

.emoji-mart-dark .emoji-mart-search input {
    color:black !important ;
    border-color: #555453 !important;
    background-color: white !important;
}




